.plugin-file-cover {
  background-color: #101010;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.plugin-file-cover .div {
  background-color: #101010;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.plugin-file-cover .overlap {
  position: absolute;
  width: 1922px;
  height: 87px;
  top: -14px;
  left: -1px;
}

.plugin-file-cover .rectangle {
  position: absolute;
  width: 1922px;
  height: 86px;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  border-radius: 15px;
}

.plugin-file-cover .group {
  position: absolute;
  width: 219px;
  height: 50px;
  top: 28px;
  left: 12px;
}

.plugin-file-cover .overlap-group {
  position: relative;
  width: 217px;
  height: 50px;
  background-color: #1a1a1a;
  border-radius: 24px;
  border: 1px solid;
  border-color: #ff007f;
}

.plugin-file-cover .text-wrapper {
  position: absolute;
  width: 112px;
  top: -1px;
  left: 41px;
  font-family: "Circular Spotify Text-Black", Helvetica;
  font-weight: 900;
  color: #ff007f;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.plugin-file-cover .overlap-wrapper {
  position: absolute;
  width: 219px;
  height: 51px;
  top: 27px;
  left: 1444px;
}

.plugin-file-cover .overlap-2 {
  position: relative;
  width: 217px;
  height: 51px;
}

.plugin-file-cover .rectangle-2 {
  position: absolute;
  width: 217px;
  height: 50px;
  top: 1px;
  left: 0;
  background-color: #1a1a1a;
  border-radius: 24px;
  border: 1px solid;
  border-color: #ff007f;
}

.plugin-file-cover .text-wrapper-2 {
  position: absolute;
  width: 154px;
  top: 0;
  left: 10px;
  font-family: "Circular Spotify Text-Black", Helvetica;
  font-weight: 900;
  color: #ff007f;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.plugin-file-cover .overlap-group-wrapper {
  position: absolute;
  width: 219px;
  height: 51px;
  top: 27px;
  left: 1699px;
}

.plugin-file-cover .text-wrapper-3 {
  position: absolute;
  width: 112px;
  top: 0;
  left: 42px;
  font-family: "Circular Spotify Text-Black", Helvetica;
  font-weight: 900;
  color: #ff007f;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.plugin-file-cover .div-wrapper {
  position: absolute;
  width: 219px;
  height: 50px;
  top: 28px;
  left: 265px;
}

.plugin-file-cover .overlap-3 {
  position: relative;
  width: 217px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 24px;
  border: 1px solid;
  border-color: #ff007f;
}

.plugin-file-cover .text-wrapper-4 {
  position: absolute;
  width: 112px;
  top: -1px;
  left: 31px;
  font-family: "Circular Spotify Text-Black", Helvetica;
  font-weight: 900;
  color: #ff007f;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.plugin-file-cover .DALLE {
  position: absolute;
  width: 76px;
  height: 73px;
  top: 14px;
  left: 923px;
  object-fit: cover;
}

.plugin-file-cover .vector {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 34px;
  left: 432px;
}

.plugin-file-cover .material-symbols {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 30px;
  left: 170px;
}

.plugin-file-cover .img {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 32px;
  left: 1864px;
}

.plugin-file-cover .vector-2 {
  position: absolute;
  width: 22px;
  height: 39px;
  top: 34px;
  left: 1626px;
}

.plugin-file-cover .overlap-4 {
  position: absolute;
  width: 530px;
  height: 323px;
  top: 200px;
  left: 31px;
  background-color: #ff007f;
  border-radius: 44px;
}

.plugin-file-cover .rectangle-3 {
  position: absolute;
  width: 214px;
  height: 225px;
  top: 10px;
  left: 20px;
  object-fit: cover;
}

.plugin-file-cover .nickname-voldemar {
  position: absolute;
  width: 174px;
  top: 21px;
  left: 250px;
  font-family: "Circular Spotify Text-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.plugin-file-cover .email-vova {
  position: absolute;
  width: 280px;
  top: 99px;
  left: 250px;
  font-family: "Circular Spotify Text-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.plugin-file-cover .phone-number {
  position: absolute;
  width: 241px;
  top: 188px;
  left: 250px;
  font-family: "Circular Spotify Text-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.plugin-file-cover .overlap-5 {
  position: absolute;
  width: 222px;
  height: 56px;
  top: 259px;
  left: 154px;
  background-image: url(/static/images/profile/Rectangle6.svg);
  background-size: 100% 100%;
}

.plugin-file-cover .text-wrapper-5 {
  position: absolute;
  top: 4px;
  left: 47px;
  font-family: "Circular Spotify Text-Black", Helvetica;
  font-weight: 900;
  color: #708090;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.plugin-file-cover .overlap-6 {
  position: absolute;
  width: 1059px;
  height: 775px;
  top: 155px;
  left: 721px;
}

.plugin-file-cover .rectangle-4 {
  position: absolute;
  width: 1059px;
  height: 716px;
  top: 59px;
  left: 0;
  background-color: #000000;
  border-radius: 31px;
}

.plugin-file-cover .group-2 {
  position: absolute;
  width: 809px;
  height: 271px;
  top: 91px;
  left: 228px;
}

.plugin-file-cover .image {
  position: absolute;
  width: 154px;
  height: 231px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.plugin-file-cover .overlap-group-2 {
  position: absolute;
  width: 200px;
  height: 39px;
  top: 232px;
  left: 28px;
}

.plugin-file-cover .text-wrapper-6 {
  position: absolute;
  top: 25px;
  left: 0;
  font-family: "Circular Spotify Text-Black", Helvetica;
  font-weight: 900;
  color: #cccccc;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.plugin-file-cover .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 14px;
  font-family: "Circular Spotify Text-Black", Helvetica;
  font-weight: 900;
  color: #cccccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.plugin-file-cover .group-3 {
  position: absolute;
  width: 592px;
  height: 271px;
  top: 0;
  left: 217px;
}

.plugin-file-cover .group-4 {
  width: 375px;
  top: 0;
  left: 217px;
  position: absolute;
  height: 271px;
}

.plugin-file-cover .overlap-7 {
  position: absolute;
  width: 200px;
  height: 39px;
  top: 232px;
  left: 33px;
}

.plugin-file-cover .group-5 {
  width: 158px;
  top: 0;
  left: 217px;
  position: absolute;
  height: 271px;
}

.plugin-file-cover .group-6 {
  width: 158px;
  top: 91px;
  left: 18px;
  position: absolute;
  height: 271px;
}

.plugin-file-cover .group-7 {
  position: absolute;
  width: 158px;
  height: 271px;
  top: 442px;
  left: 18px;
}

.plugin-file-cover .group-8 {
  position: absolute;
  width: 809px;
  height: 271px;
  top: 442px;
  left: 228px;
}

.plugin-file-cover .overlap-8 {
  position: absolute;
  width: 200px;
  height: 39px;
  top: 232px;
  left: 31px;
}

.plugin-file-cover .overlap-9 {
  position: absolute;
  width: 200px;
  height: 39px;
  top: 231px;
  left: 30px;
}

.plugin-file-cover .text-wrapper-8 {
  position: absolute;
  top: 0;
  left: 10px;
  font-family: "Circular Spotify Text-Black", Helvetica;
  font-weight: 900;
  color: #cccccc;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.plugin-file-cover .text-wrapper-9 {
  position: absolute;
  top: 0;
  left: 345px;
  font-family: "Circular Spotify Text-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}
/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
  width: 0;
}