<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/aboutus/globals.css" />
    <link rel="stylesheet" href="/static/css/aboutus/style.css" />
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="plugin-file-cover">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="group">
            <div class="overlap-group"><div class="text-wrapper">Films</div></div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap-2">
              <div class="rectangle-2"></div>
              <div class="text-wrapper-2">About us</div>
            </div>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-2">
              <div class="rectangle-3"></div>
              <div class="text-wrapper-3">News</div>
            </div>
          </div>
          <div class="div-wrapper">
            <div class="overlap-group"><div class="text-wrapper-4">Profile</div></div>
          </div>
          <img
            class="DALLE"
            src="/static/images/aboutus/Plugin/DALL·E%202024-12-26%2011.26.09%20-%20Create%20a%20flat,%20minimalistic%20logo%20in%20a%20cinematic%20style%20featuring%20a%20single%20object,%20such%20as%20a%20film%20reel%20or%20clapperboard.%20The%20design%20should%20use%20a%20dark%20bac%201.svg"
          />
          <img class="vector" src="/static/images/aboutus/Plugin/Vector.svg" />
          <img class="material-symbols" src="/static/images/aboutus/Plugin/material-symbols_movie.svg" />
          <img class="img" src="/static/images/aboutus/Plugin/Vector-1.svg" />
          <img class="vector-2" src="/static/images/aboutus/Plugin/Vector-2.svg" />
        </div>
        <p class="about-us-cinegest">
          <span class="span">About Us | CineGest 🎬<br /></span> <span class="text-wrapper-5"><br /><br /><br /></span>
        </p>
        <p class="p">Welcome to CineGest – your ultimate movie discovery platform!</p>
        <img
          class="DALLE-2"
          src="/static/images/aboutus/Plugin/DALL·E%202025-01-16%2016.21.43%20-%20A%20vibrant%20cinematic%20composition%20featuring%20a%20vintage%20film%20camera,%20a%20classic%20film%20reel,%20and%20a%20director's%20clapperboard%20with%20bright%20neon%20pink%20highlights.%20%201.png"
        />
        <div class="overlap-3">
          <p class="our-mission">
            <span class="text-wrapper-6"
              >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <span class="text-wrapper-7">Our Mission<br /></span>
            <span class="text-wrapper-6"><br /><br /></span>
          </p>
          <p class="text-wrapper-8">
            At CineGest, we believe that every film tells a story and finding the right one should be effortless. Our
            mission is to help you discover the best movies and series tailored to your tastes, saving you from endless
            scrolling and decision fatigue.
          </p>
        </div>
        <p class="how-it-works">
          <span class="text-wrapper-9">How It Works?<br /></span>
          <span class="text-wrapper-5"><br /><br /><br /><br /></span>
        </p>
        <p class="text-wrapper-10">
          🔎 Smart Recommendations – Personalized movie suggestions based on your preferences. 🎞 Curated Lists –
          Handpicked selections by genre, mood, and trending favorites. 🔥 Latest Releases – Stay updated with the
          hottest new movies and top-rated hits.
        </p>
        <p class="why-choose-cinegest">
          <span class="text-wrapper-11"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
          >
          <span class="text-wrapper-7">Why Choose CineGest?<br /></span>
          <span class="text-wrapper-5"><br /><br /><br /></span>
        </p>
        <p class="tailored-movie-picks">
          ✔ Tailored Movie Picks – We bring you recommendations that truly match your style. ✔ User-Friendly Experience
          – Spend less time searching, more time watching. ✔ Your Gateway to Cinema – Explore, experience, and enjoy
          films like never before.<br />Join CineGest today and make every movie night an unforgettable cinematic
          journey! 🎥✨
        </p>
        <img
          class="DALLE-3"
          src="/static/images/aboutus/Plugin/DALL·E%202025-01-16%2016.28.11%20-%20An%20inspiring%20digital%20illustration%20representing%20'Our%20Mission'%20for%20a%20movie%20discovery%20platform.%20The%20image%20features%20a%20glowing%20cinematic%20scene%20with%20a%20diver%201.png"
        />
        <img
          class="DALLE-4"
          src="/static/images/aboutus/Plugin/DALL·E%202025-01-16%2016.28.32%20-%20A%20dynamic%20and%20visually%20appealing%20infographic%20representing%20'How%20It%20Works_'%20for%20a%20movie%20discovery%20platform.%20The%20illustration%20showcases%20a%20sleek,%20futurist%201.png"
        />
        <img class="image" src="/static/images/aboutus/Plugin/image 1.png" />
        <div class="text-wrapper-12">Active users every day!</div>
        <div class="rectangle-4">

            <canvas id="visitsChart"></canvas>


        </div>
      </div>
    </div>
  <script src="/static/js/aboutus/app.js"> </script>
  </body>
</html>