<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/films/globals.css" />
        <link rel="stylesheet" href="/static/css/films/style.css" />
    </head>
    <body>
        <div class="plugin-file-cover">
            <div class="div">
                <div class="overlap">
                    <div class="rectangle"></div>
                    <div class="group">
                        <div class="overlap-group"><div class="text-wrapper">Films</div></div>
                    </div>
                    <div class="overlap-wrapper">
                        <div class="overlap-2">
                            <div class="rectangle-2">
                            <p class="text-wrapper-2">About us</p>
                            </div>
                        </div>
                    </div>
                    <div class="overlap-group-wrapper">
                        <div class="overlap-2">
                            <div class="rectangle-3">
                            <p class="text-wrapper-3">News</p></div>
                        </div>
                    </div>
                    <div class="div-wrapper">
                        <div class="overlap-3"><p class="text-wrapper-4">Profile</p></div>
                    </div>
                    <img
                        class="DALLE"
                        src="static/images/films/DALL·E 2024-12-26 11.26.09 - Create a flat, minimalistic logo in a cinematic style featuring a single object, such as a film reel or clapperboard. The design should use a dark bac 1.svg"
                    />
                    <img class="vector" src="static/images/films/Vector.svg" />
                    <img class="material-symbols" src="static/images/films/material-symbols_movie.svg" />
                    <img class="img" src="static/images/films/Vector-1.svg" />
                    <img class="vector-2" src="static/images/films/Vector2.svg" />
                </div>
                <p class="film-searcher">
                    <span class="span">Fi</span>
                    <span class="text-wrapper-5">lm &nbsp</span>
                    <span class="text-wrapper-5">se</span>
                    <span class="span">arc</span>
                    <span class="text-wrapper-5">her</span>
                </p>
                <div class="overlap-4">
                    <div class="overlap-5">
                        <img class="line" src="img/line-10.svg" />
                        <div class="text-wrapper-6">Popular</div>
                    </div>
                    <div class="overlap-6">
                        <img class="line-2" src="img/line-11.svg" />
                        <div class="text-wrapper-6">Now playing</div>
                    </div>
                    <div class="text-wrapper-7">Popular collections</div>
                    <div class="overlap-7">
                        <div class="text-wrapper-6">Top rated</div>
                        <img class="line-3" src="img/line-8.svg" />
                    </div>
                    <div class="overlap-8">
                        <div class="text-wrapper-6">Upcoming</div>
                        <img class="line-4" src="img/line-9.svg" />
                    </div>
                </div>
                <div id= "movies-container" class="overlap-9">
                <p id="movies-container-text">CHOOSE FILTERS AND PRESS SEARCH FOR GETTING RECOMENDATIONS</p>
                </div>


                <div class="overlap-13">
                    <div class="overlap-14">
                        <div class="rectangle-4">
                        <div id="search_button" class="text-wrapper-11">Search</div>
                        <img class="search" src="static/images/films/Search.png" />
                    </div>
                        </div>
                    <div class="text-wrapper-12">Filters</div>
                    <div class="overlap-15">
                        <select>
                            <option value="" selected disabled>Year</option>
                          <option value="2025">2025</option>
                          <option value="2024">2024</option>
                          <option value="2023">2023</option>
                          <option value="2022">2022</option>
                          <option value="2021">2021</option>
                          <option value="2020">2020</option>
                          <option value="2019">2019</option>
                          <option value="2018">2018</option>
                          <option value="2017">2017</option>
                          <option value="2016">2016</option>
                          <option value="2015">2015</option>
                          <option value="2014">2014</option>
                          <option value="2013">2013</option>
                          <option value="2012">2012</option>
                          <option value="2011">2011</option>
                          <option value="2010">2010</option>
                          <option value="2009">2009</option>
                          <option value="2008">2008</option>
                          <option value="2007">2007</option>
                        </select>

                    </div>
                    <div class="overlap-16">
                         <select>
                             <option value="" selected disabled>Genres</option>
                          <option value="28">Action</option>
                          <option value="12">Adventure</option>
                          <option value="16">Animation</option>
                          <option value="35">Comedy</option>
                          <option value="80">Crime</option>
                          <option value="99">Documentary</option>
                          <option value="18">Drama</option>
                          <option value="10751">Family</option>
                          <option value="14">Fantasy</option>
                          <option value="36">History</option>
                          <option value="27">Horror</option>
                          <option value="10402">Music</option>
                          <option value="9648">Mystery</option>
                          <option value="10749">Romance</option>
                          <option value="878">Science Fiction</option>
                          <option value="10770">TV Movie</option>
                          <option value="53">Thriller</option>
                          <option value="10752">War</option>
                          <option value="37">Western</option>
                        </select>
                    </div>
                    <div class="overlap-17">
                         <select>
                             <option value="" selected disabled>Region</option>
                          <option value="US">US</option>
                          <option value="GB">UK</option>
                          <option value="JP">Japan</option>
                          <option value="KR">South Korea</option>
                          <option value="FR">France</option>
                          <option value="DE">Germany</option>
                          <option value="IN">India</option>
                          <option value="RU">Russia</option>
                          <option value="IT">Italy</option>
                          <option value="CA">Canada</option>
                          <option value="CN">China</option>
                          <option value="ES">Spain</option>
                          <option value="AU">Australia</option>
                          <option value="BR">Brazil</option>
                        </select>
                    </div>
                    <div class="overlap-18">
                             <select>
                                 <option value="" selected disabled>Sorting</option>
                          <option value="popularity.desc">Popularity</option>
                          <option value="revenue.desc">Revenue</option>
                          <option value="vote_average.desc">Vote average</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    <script src ="static/js/films/app.js"></script>
    </body>
</html>
