<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/incorrectpassword/globals.css" />
    <link rel="stylesheet" href="/static/css/incorrectpassword/style.css" />
  </head>
  <body>
    <div class="plugin-file-cover">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="group">
            <div class="overlap-group"><div class="text-wrapper">Films</div></div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap-2">
              <div class="rectangle-2"></div>
              <div class="text-wrapper-2">About us</div>
            </div>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-2">
              <div class="rectangle-2"></div>
              <div class="text-wrapper-3">News</div>
            </div>
          </div>
          <div class="div-wrapper">
            <div class="overlap-3"><div class="text-wrapper-4">Profile</div></div>
          </div>
          <img
            class="DALLE"
            src="/static/images/incorrectpassword/DALL·E%202024-12-26%2011.26.09%20-%20Create%20a%20flat,%20minimalistic%20logo%20in%20a%20cinematic%20style%20featuring%20a%20single%20object,%20such%20as%20a%20film%20reel%20or%20clapperboard.%20The%20design%20should%20use%20a%20dark%20bac%201.svg"
          />
          <img class="vector" src="/static/images/incorrectpassword/Vector.svg" />
          <img class="material-symbols" src="/static/images/incorrectpassword/material-symbols_movie.svg" />
          <img class="img" src="/static/images/incorrectpassword/Vector2.svg" />
          <img class="vector-2" src="/static/images/incorrectpassword/Vector1.svg" />
        </div>
        <p class="p">Error 401: Your email or password is incorrect</p>
        <p id="backbutton" class="go-back-to-login">&lt;--- Go back to login page</p>
      </div>
    </div>
  <script src="/static/js/incorrectpassword/app.js"></script>
  </body>
</html>