<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="static/css/main/globals.css" />
        <link rel="stylesheet" href="static/css/main/style.css" />
    </head>
    <body>
        <div class="plugin-file-cover">
            <div class="div">
                <div class="overlap">
                    <img class="rectangle" src="static/images/main/Rectangle%201.png" />
                    <img class="CINEGEST" src="static/images/main/CINEGEST.png" />
                    <div class="text-wrapper">This</div>
                    <div class="text-wrapper-2">is</div>
                </div>
                <div class="overlap-group">
                    <div class="rectangle-2"></div>
                    <div class="group">
                        <div id="films_button"class="div-wrapper"><p class="text-wrapper-3">Films</p>
                        <img  id="clapper" class= "button_images" src="static/images/general/clapper.png">
                        </div>
                    </div>

                    <div class="overlap-group-wrapper">
                        <div id="about_us" class="overlap-3"><p class="text-wrapper-3">About us</p>
                        <img id="info_button" class="button_images" src="static/images/general/info.png">
                        </div>
                    </div>

                    <div class="group-2">
                        <div id = "news_button" class="div-wrapper"><p class="text-wrapper-3">News</p>
                        <img id="info_button" class="button_images" src="static/images/general/news.png"></div>
                    </div>

                    <div class="group-3">
                        <div id ="profile_button" class="overlap-3"><p class="text-wrapper-3">Profile</p>
                        <img  id="profile_icon" class= "button_images" src="static/images/general/profile_icon.png">
                        </div>
                    </div>


                    >
                    <img
                        class="DALLE"
                        src="static/images/main/logo.png"
                    />
                </div>
            </div>
        </div>
    <script src="static/js/main/index.js"> </script>
    </body>
</html>
