<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/news/globals.css" />
    <link rel="stylesheet" href="/static/css/news/style.css" />
  </head>
  <body>
    <div class="plugin-file-cover">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="group">
            <div class="overlap-group"><div class="text-wrapper">Films</div></div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap-2">
              <div class="rectangle-2"></div>
              <div class="text-wrapper-2">About us</div>
            </div>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-2">
              <div class="rectangle-3"></div>
              <div class="text-wrapper-3">News</div>
            </div>
          </div>
          <div class="div-wrapper">
            <div class="overlap-group"><div class="text-wrapper-4">Profile</div></div>
          </div>
          <img
            class="DALLE"
            src="/static/images/news/DALL·E%202024-12-26%2011.26.09%20-%20Create%20a%20flat,%20minimalistic%20logo%20in%20a%20cinematic%20style%20featuring%20a%20single%20object,%20such%20as%20a%20film%20reel%20or%20clapperboard.%20The%20design%20should%20use%20a%20dark%20bac%201.svg"
          />
          <img class="vector" src="/static/images/news/Vector.svg" />
          <img class="material-symbols" src="/static/images/news/material-symbols_movie.svg" />
          <img class="img" src="/static/images/news/Vector-1.svg" />
          <img class="vector-2" src="/static/images/news/Vector-2.svg" />
        </div>
        <div class="group-2">
          <div class="overlap-3">
            <img class="image" src="/static/images/news/image 2.png" />
            <p class="p">Kaitlyn Dever Will Enter The MonsterVerse In Godzilla X Kong Sequel</p>
          </div>
        </div>
        <div class="group-3">
          <div class="overlap-3">
            <img class="image" src="/static/images/news/image.png" />
            <p class="text-wrapper-5">Courteney Cox Will Reprise Gale Weathers Role In Scream 7</p>
          </div>
        </div>
        <div class="group-4">
          <div class="overlap-3">
            <img class="image" src="/static/images/news/image-1.png" />
            <p class="text-wrapper-6">The Batman Part II Delayed At Warner Bros. — Won’t Release Until Late 2027</p>
          </div>
        </div>
        <div class="group-5">
          <div class="overlap-3">
            <img class="image" src="/static/images/news/image-2.png" />
            <p class="text-wrapper-7">
              Jodie Comer Was Terrified By 28 Years Later’s Infected: ‘I Felt Like I Was Running For My Life’
            </p>
          </div>
        </div>
        <div class="group-6">
          <div class="overlap-3">
            <img class="image" src="/static/images/news/image-3.png" />
            <p class="text-wrapper-8">
              The Until Dawn Movie Trailer Unleashes The Wendigo In David F. Sandberg’s Time Loop Horror
            </p>
          </div>
        </div>
        <div class="group-7">
          <div class="overlap-3">
            <img class="image" src="/static/images/news/image-4.png" />
            <p class="text-wrapper-9">
              Robert De Niro Faces Robert De Niro In Trailer For Barry Levinson Gangster Movie Alto Knights
            </p>
          </div>
        </div>
        <div class="group-8">
          <div class="overlap-3">
            <img class="image" src="/static/images/news/image-5.png" />
            <p class="text-wrapper-10">
              Ke Huy Quan Wants To Play A ‘Diabolical, Really Bad Guy’ Next: ‘Like A Bond Villain’
            </p>
          </div>
        </div>
        <div class="group-9">
          <div class="overlap-4">
            <div class="rectangle-4"></div>
            <img class="image-2" src="/static/images/news/image-6.png" />
            <p class="text-wrapper-11">David Lynch Dies Aged 78</p>
          </div>
        </div>
        <div class="group-10">
          <div class="overlap-3">
            <img class="image" src="/static/images/news/image-7.png" />
            <p class="jon-bernthal-boards">Jon Bernthal Boards Christopher Nolan’s <br />The Odyssey</p>
          </div>
        </div>
        <div class="group-11">
          <div class="overlap-3">
            <img class="image" src="/static/images/news/image-8.png" />
            <p class="text-wrapper-12">
              Finn Wolfhard Faces A Masked Killer In Gory First Trailer For Directorial Debut Hell Of A Summer
            </p>
          </div>
        </div>
        <div class="text-wrapper-13">Hot Film industry news</div>
      </div>
    </div>
  </body>
</html>